<!-- core/templates/core/about.html -->
{% extends 'core/base.html' %}

{% block title %}About - Beat Binder{% endblock %}

{% block content %}
<div class="content-card">
    <h2>About Beat Binder</h2>
    <p>
        Welcome to BeatBinder! This is a passion project that has been several years in the making.
        In that time, I have been learning web development, and I wanted to use my skills to build something 
        that would provide value to the musician community. If you are reading this, it means that you are one of my 
        most trusted friends and colleagues. I hand-selected each of you because I know that you are well-rounded 
        musicians, but you also each have different specialties. I also know that each of you will 
        contribute to the small community however you can. 
    </p>
    <br>
    <p>
        So...what is BeatBinder? It's a way for us to come together to share compositions, drumset charts, 
        marching band music and warmups, and exercises. I have been a member of countless Facebook groups, 
        that purport to be just that, but they are hindered by sub-par contributions, abhorrent user 
        interfaces and a severe lack of search functionality. Feel free to contribute, or to take, 
        as much as you like. I've already uploaded a fair amount of material from my personal collection 
        to get you started, and I'll keep contributing as much as I can. Feel free to use anything here 
        for whatever purpose you chooose...lessons, students, personal use, personal practice, etc.
    </p>
    <br>
    <p>
        If there is anything that you would like to see from this website as far as features, please don't 
        hesitate to let me know. I'm going to keep adding functionality as time goes on. You know how to get 
        in touch with me. I'm offering this website free of charge, but if anyone would like to donate to 
        help with hosting costs, I would be grateful. You can make donations vio Venmo or Cashapp ($blevinspercussion) 
        or via PayPal (@blevinspercussion). Thank you, and enjoy!
    </p>
    <br>
    <p>--Adam Blevins--</p>
</div>
{% endblock %}
